<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>marcar encontros</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">


</head>
<style>
    body {
            background:#16161a;
            text-align: center;
            padding-left: 10px;
            padding-right: 10px;
            font-family: allumi-std, sans-serif;
			font-style: normal;
			font-weight: 500;
            color: #fffffe;
            

        }
        .aside{
            display: flex;
            position: fixed;
            flex-direction: column;
            background: #31313d;
            margin-top: 1.283cm;
            flex-shrink: 1;
            width: 30vw;
            min-width: 110px;
            max-width: 200px;
            height: 200%;
            justify-content: flex-start;
            
        }
        
</style>

<body>
     <div class="aside";>
        <br>
        <h5 style="font-family: OCR A Std, monospace;">Pessoas:</h5>
        <br>
        <br>
        <a>Nome e sobrenome</a><br>
        <a>Nome e sobrenome</a><br>
        <a>Nome e sobrenome</a><br>
        <a>Nome e sobrenome</a><br>
        <a>Nome e sobrenome</a><br>
        <a>Nome e sobrenome</a><br>
        <a>Nome e sobrenome</a><br>
        <a>Nome e sobrenome</a><br>
        <a>Nome e sobrenome</a><br>
        <a>Nome e sobrenome</a><br>
        <a>Nome e sobrenome</a><br>
        <a>Nome e sobrenome</a><br>
        <a>Nome e sobrenome</a><br>
        <a>Nome e sobrenome</a><br>
        <a>Nome e sobrenome</a><br>
        <a>Nome e sobrenome</a><br>
        <a>Nome e sobrenome</a><br>
        <a>Nome e sobrenome</a><br>
        <a>Nome e sobrenome</a><br>
        <a>Nome e sobrenome</a><br>
    </div>
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb" style = "background: #31313d;">
            <li class="breadcrumb-item"><a href="#">Disciplinas</a></li>
            <li class="breadcrumb-item"><a href="#">Página da disciplina</a></li>
            <li class="breadcrumb-item"><a href="#">Chat</a></li>
            <li class="breadcrumb-item active" aria-current="page">Marcar encontros</li>
        </ol>
    </nav>
   
    <img src = "../../static/logo puc study.png" alt="logo Puc Study"  height = "100" >
    <h3  style = "display: block; margin:auto; font-family: OCR A Std, monospace;">
        MARCAR ENCONTROS
    </h3>
    <hr class="my-2" style = "background-color: #fffffe; font-family: OCR A Std, monospace;"> <br /> <br />
    <h5> Nome da disciplina</h5> <br>
    <h5> Código da disciplina</h5> <br> <br>

    <div class="row" style="width: 40rem; margin: auto;">
        <div class="col-sm-6">
            <div class="card" style = "background-color: #7f5af0; color: #fffffe">
                <div class="card-body">
                    <h5 class="card-title">Local</h5>
                    <p class="card-text">Aqui você poderá ver o local onde ocorrerá o encontro do grupo de estudos.</p>
                    <ul class="list-group">
                        <li class="list-group-item" style = "color: #16161a"></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="card" style = "background-color: #7f5af0; color: #fffffe">
                <div class="card-body">
                    <h5 class="card-title">Horário</h5>
                    <p class="card-text">Aqui você poderá ver o Horário onde ocorrerá o encontro do grupo de estudos.</p>
                    <ul class="list-group">
                        <li class="list-group-item" style = "color: #16161a"></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <br>
    <br>
    <div class="row" style="width: 40rem; margin: auto;">
        <div class="col-sm-6">
            <div class="card" style = "background-color: #7f5af0; color: #fffffe">
                <div class="card-body">
                    <h5 class="card-title">Dia ou dias:</h5>
                    <p class="card-text">Aqui você poderá ver o dia onde ocorrerá o encontro do grupo de estudos.</p>
                    <ul class="list-group">
                        <li class="list-group-item" style = "color: #16161a"></li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="col-sm-6">
            <div class="card" style = "background-color: #7f5af0; color: #fffffe">
                <div class="card-body">
                    <h5 class="card-title">Pessoas</h5>
                    <p class="card-text">Aqui você poderá ver as pessoas que vão ao encontro do grupo de estudos.</p>
                    <ul class="list-group">
                        <li class="list-group-item" style = "color: #16161a"></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    
    
    <br />
    <br />
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    
    
</body>
</html>