<!DOCTYPE html>
<html lang="pt-br">
<head>
    <link rel="icon" href= "../../static/Favicon.png"  type="image/x-icon">
    <h1 style="color:white; text-align: center;"> Fale conosco! </h1>
    <hr>
    <h2 style="color: white; text-align: center;">Mande sua dúvida abaixo: </h2>
</head>
<style>
    body {
        background: #16161a ;
    }
    .container {
        height: 200px;
        position: relative;
      }
      .center {
        margin: 0;
        position: absolute;
        top: 50%;
        left: 50%;
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
      }
</style>
<p style="color:#fffffe; text-align: center;border:2px solid #7f5af0;padding: 30px;margin: 50px; font-size: larger">Dúvida: </p>
<div class="container">
    <div class="center">
        <button onclick="document.location='perfilusuario.html'">Voltar ao perfil</button>
        <button onclick="document.location='denuncias.html'">Denunciar</button>
    </div>
</div>
</body>
</html>
