<!DOCTYPE html>
<html lang="pt-br"></html>
<head>
<title>PUC-Study login</title>
<style>
    body {
        background: #16161a ;
    }
    .texto{
        font-family: allumi-std,sans-serif; 
    }

</style>

</head>
<body>

<h1 style="color:white;text-align: center;">Faça seu login</h1>
<hr>
<img src="iconeCadastro.png" alt="icone da foto de perfil do usuário", width="100",height="100">
<p style="color:#fffffe; text-align: center;border:2px solid #7f5af0;padding: 30px;margin: 50px;">E-mail <br> Senha</p>
<button onclick="document.location='tentativa perfil usuário.html'">Perfil</button>"
</body>
</html>
