<!DOCTYPE html>
<html lang="pt-br">
<head>
    <link rel="icon" href= "../../static/Favicon.png"  type="image/x-icon">
    <h1 style="color:white;text-align: center;"> Notificações </h1>
    <hr>
    <h2 style="color:white;text-align: center;"> Bem vindo!<br></h2>
    <h3 style="color:white;text-align: center;"> O que há de novo?</h3>
</head>
<style>
    body {
        background: #16161a ;
    }
    .container {
        height: 200px;
        position: relative;
      }
    .center {
        margin: 0;
        position: absolute;
        top: 50%;
        left: 50%;
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
      }
</style>
<p style="color:#fffffe; text-align: center;border:2px solid #7f5af0;padding: 30px;margin: 50px; font-size: larger">INF1039<br>sua pergunta foi respondida por jao123</p>
<div class="container">
    <div class="center">
        <button onclick="document.location='perfilusuario.html'">Voltar ao perfil</button>
    </div>
</div>
</body>
</html>

    
