<!DOCTYPE html>
<html lang="pt-br">
<head>
    <h1 style="color:white;"> Notificações </h1>
    <hr>
    <h2 style="color: white;"> Bem vindo!<br></h2>
    <h2 style="color:white;">clique no botão de entrar para ver suas notificações<br></h2>
</head>
<style>
    body {
        background: #16161a ;
    }
    .container {
        height: 200px;
        position: relative;
      }
      .center {
        margin: 0;
        position: absolute;
        top: 50%;
        left: 50%;
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
      }
</style>
<div class="container">
    <div class="center">
        <button onclick="document.location='menu.html'">Voltar ao menu</button>
        <button onclick="document.location='login.html'">entrar</button>
    </div>
</div>
</body>
</html>
