<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Perfil usuário</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
   


</head>
<style>
    body {
            background: #e9e9e9;
            text-align: center;
            padding-left: 10px;
            padding-right: 10px;
            font-family: allumi-std, sans-serif;
			font-style: normal;
			font-weight: 500;
            color: #000000
        }
       
        
</style>


<body>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#conteudoNavbarSuportado" aria-controls="conteudoNavbarSuportado" aria-expanded="false" aria-label="Alterna navegação">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="conteudoNavbarSuportado">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="#">Home <span class="sr-only">(página atual)</span></a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Ajuda
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="#">Fale conosco</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">Sair</a>
          </div>
      </ul>

    </div>
  </nav>
    
    <h1  style = "display: block; margin-left:20cm; margin-right:20cm; margin-top: 2cm  ;">
        LOGO PUC STUDY
    </h1>
    <img src = "perfil.png" alt="icone da foto de perfil do usuário" width="150" height = "150" style = "display: block; margin-left: auto; margin-right: auto; margin-top: 1cm ;">
    
    <img src = "iconeminhasdisciplinas.png" alt="icone para as disciplinas"   width="400" height = "300" style = "display: block; margin:auto;">
    
    
    
    
    
    
    <button type="button" class="btn btn-dark" style="display: block; margin:auto;">Deletar meu perfil</button>
    <div class="btn-group">
      <button type="button" class="btn btn-dark" style = "display: block; margin-left:auto; margin-right:auto; margin-top: 2cm ;">Editar</button>
     
      </button>
    </div>

    <div class="btn-group">
      <button type="button" class="btn btn-dark" style = "display: block; margin-left:auto; margin-right:auto; margin-top: 2cm ;">Editar</button>
      </button>
    </div>
    
    
   


    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    
    
</body>
</html>